<input type="hidden" name="slug">

<div class="fte-list-group"></div>

<!-- IMPORT admin/widgets/fte-widget-sort.tpl -->

<div class="form-group">
  <label>Max Topics</label>
  <input class="form-control" type="text" name="max"/>
</div>
